<%= render 'posts/header' %>


<div class="row">
<%= select_tag 'proyectos', options_for_select(@proyectos.collect{ |u| [u.proyecto, u.id] },params[:search]), :include_blank => "Seleccionar proyecto" ,autofocus: "true", class: "form-control form-group input-sm", :onchange => "window.location.replace('/foros/index?&search='+$(this).val());" %>
  
	<% if params[:search] %>

    <%= form_for(@foro, remote: true) do |f| %>
    <%= f.hidden_field :proyecto_id, :value => params[:search] %>


    <%= f.text_area :titulo, class: "form-control post_title", label: false,  placeholder: "Titulo", rows: 1, :required => true %>
    <br>
	<%= f.text_area :contenido, class: "form-control post_title", label: false, placeholder: "Texto", rows: 6, :required => true %>
	<br>
	<%= submit_tag "Create", class: "btn btn-primary" %>
	<% end %>

</div>
<br>
	<% @foros.each do |foro| %>

	<div id="foro_<%= foro.id %>" class="row foro">
	<div class="panel panel-default">
  	<div class="panel-heading">
    <h3 class="panel-title"><%= foro.titulo %> - <%= foro.user.name %> <span class="pull-right">Proyecto <%= foro.proyecto.proyecto %>  -  Hace <%= time_ago_in_words(foro.created_at) %> 
    	<%if current_user == foro.user %>- <%= link_to '' , foro, method: :delete, class: "fa fa-trash-o", remote: :true, data: {confirm: 'Are you sure?'} %></span></h3>
    	<% else %>
    </span></h3>
    	<% end %>
 	</div>
  	<div class="panel-body">
    <%= foro.contenido %>
  	</div>
	</div>
	</div>


	<% end %>

	<% else%>

<%= form_for(@foro, remote: true) do |f| %>

<div class="modal fade" id="mynewpost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Nuevo registro</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<%= f.text_area :titulo, class: "form-control post_title", label: false, autofocus: "true", placeholder: "Titulo", rows: 1 %>
						<%= f.text_area :contenido, class: "form-control post_title", label: false, placeholder: "Texto", rows: 1 %>
					</div>
				</div>
			</div>
			<div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewpostclose">Close</button>
            <%= submit_tag "Create", class: "btn btn-primary" %>
          </div>
		</div>
	</div>
</div>


              <% end %>

              <% end %>
