

<%# app/views/students/_list.html.erb %>
<div id="filterrific_results container">

<div>
    <%= page_entries_info @posts  %>
  </div>


  <table class="table">
    <tr>
      <th>Post name</th>
      <th>Name</th>
      <th>Country</th>
      <th>Registered at</th>
    </tr>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to(post.title, post_path(post)) %></td>
        <td><%= post.user.name %></td>
        <td><%= post.user.name %></td>
        <td><%= post.fecha %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= will_paginate @posts, class: "pagination" %>
