
				    
            			<tr id="post_<%= post.id %>">
						
            <th><%= post.fecha %></th>
						<th><%= post.pedido %></th>
						<th><%= post.horasof %></th>
						<th><%= post.horasnf %></th>
						<th><%= post.extra %></th>
						<th><%= post.extraf %></th>
						<th><%= post.nocturnas %></th>
						<th><%= post.vacaciones %></th>
						<th><%= post.bolsahg %></th>
						<th><%= post.bolsahu %></th>
						



						<th>
				
					<button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myupdatepost_<%= post.id %>">
						Edit
					</button>
					</th>
					<th>
					<%= link_to 'Delete' , post, method: :delete, class: "btn btn-danger btn-xs", remote: :true, data: {confirm: 'Are you sure?'} %>
				
			</th>
				</tr>



			<!-- </div> Panel Body -->

		<!-- </div>  Panel Info -->


		<!-- Modal - update posts -->
		<%= form_for(post, :method => :put, remote: true) do |f| %>
		<div class="modal fade" id="myupdatepost_<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="myModelLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Edit</h4>
            </div>
            <div class="modal-body">

            <%= f.text_area :title, class: "form-control post_title", label: false, autofocus: true, placeholder: "Titulo", rows: 1 %><br>

                <%= f.text_area :content, class: "form-control post_content", label: false, placeholder: "Contenido", rows: 1 %><br>
                <div class="input-group">
                
                <%= f.datetime_field :fecha, class: "form-control post_content datepicker", :data => {:provide => 'datepicker'}, label: false, placeholder: "Fecha", rows: 1 %><span class="input-group-addon" id="basic-addon1" >
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
              </span></div> <br>

                <%= f.text_area :pedido, class: "form-control post_content", label: false, placeholder: "Pedido", rows: 1 %><br>

                <%= f.text_area :horasof, class: "form-control post_content", label: false, placeholder: "Horas ordinarias facturadas", rows: 1 %><br>

                <%= f.text_area :horasnf, class: "form-control post_content", label: false, placeholder: "Horas no facturadas", rows: 1 %><br>

                <%= f.text_area :extra, class: "form-control post_content", label: false, placeholder: "Extra", rows: 1 %><br>

                <%= f.text_area :extraf, class: "form-control post_content", label: false, placeholder: "Extra facturadas", rows: 1 %><br>

                <%= f.text_area :nocturnas, class: "form-control post_content", label: false, placeholder: "Nocturnas", rows: 1 %><br>

                <%= f.text_area :vacaciones, class: "form-control post_content", label: false, placeholder: "Vacaciones", rows: 1 %><br>

                <%= f.text_area :bolsahg, class: "form-control post_content", label: false, placeholder: "Bolsa de horas generadas", rows: 1 %><br>

                <%= f.text_area :bolsahu, class: "form-control post_content", label: false, placeholder: "Bolsa de horas utilizadas", rows: 1 %><br>
            </div>
            <div class="modal-footer">
            	<button type="button" id="myupdatebutton_<%= post.id %>" class="btn btn-default" data-dismiss="modal">Close</button>
            	<%= submit_tag "Update", class: "btn btn-primary" %>
            </div>
		  </div>
		</div>
		</div>
		<% end %>
		<!-- Modal -->
</div>