          <tr class="active">
            <th></th>
            <th>Totales</th>
            <th><%= Post.sum(:horasof) %></th>
            <th><%= Post.sum(:horasnf) %></th>
            <th><%= Post.sum(:extra) %></th>
            <th><%= Post.sum(:extraf) %></th>
            <th><%= Post.sum(:nocturnas) %></th>
            <th><%= Post.sum(:vacaciones) %></th>
            <th><%= Post.sum(:bolsahg) %></th>
            <th><%= Post.sum(:bolsahu) %></th>

          </tr>




          </tbody>

          

        </table>