

<%= render "header" %>
<div class="container">

  <div class="row">
      <div class="col-md-6">
        <%= image_tag "logo.png", class: "img-responsive" %>


        
      </div>




<% if current_user.admin? %>
    <div class="col-md-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Filtrar resultados</h3>
        </div>
        <div class="panel-body">
          <%= form_tag posts_path, method: "get", class: "form-group form-inline" do %>
          <%= select_tag 'search', options_for_select(@users.collect{ |u| [u.name, u.id] }), class: "form-control", :onchange => "this.form.submit();" %>
          <% end %>
          <%= button_to "Reset", posts_path, :class => "btn btn-default", :method => :get %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><%= current_user.name %></h3>
        </div>
        <div class="panel-body">
          <p>Crear nuevo registro de horas</p><br>
          <button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#mynewpost">
            Nueva ficha
          </button>
        </div>
      </div>
    </div>
<% else %>



    <div class="col-md-6">
     <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= current_user.name %></h3>
      </div>
      <div class="panel-body">
        <p>Crear nuevo registro de horas</p><br>
        <button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#mynewpost">
          Nueva ficha
        </button>
      </div>
    </div>
    </div>
        <% end %>
</div> <!-- end row -->



             




  <div class="row">
    <div id ="posts">  
      <h4 id="month">
        <%= link_to "", {date: @date.prev_month}, class: "fa fa-chevron-left btn" %>
        <%= l(@date, format: "%B %Y") %> 
        <%=link_to "", {date: @date.next_month}, class: "fa fa-chevron-right btn" %>
      </h4>
      <%= calendar @date do |date| %>
      <%= date.day %>
      <% if @posts_by_date[date] %>
      <ul>
        <% @posts_by_date[date].each do |post| %>



        <li id="post_<%= post.id %>">
          <div class="pull-right">
          <%= link_to '' , post, class: "fa fa-pencil", remote: :true, data: {toggle: "modal", target: "#myupdatepost_#{post.id}"} %>
          <%= link_to '' , post, method: :delete, class: "fa fa-trash-o", remote: :true, data: {confirm: 'Are you sure?'} %>
          </div>
          <% if current_user.admin? %>
          <%= link_to post, data: {toggle: "modal", target: "#mytable_#{post.id}"} do %>
          <%= post.title %><br><%= post.user.name %>
          <% end %>
          <% else %>
          <%= link_to post.title, post, data: {toggle: "modal", target: "#mytable_#{post.id}"} %>
          <% end %>



          



          <!-- Modal - update posts -->
          <%= form_for( post, :method => :put, remote: true) do |f| %> 
          <div class="modal fade" id="myupdatepost_<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="myModelLabel" aria-hidden="true" data-target="myupdatepost_<%= post.id %>">

            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Edit</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-6">
                      <%= f.text_area :title, class: "form-control post_title", label: false, autofocus: "true", placeholder: "Titulo", rows: 1 %><br>
                    </div>
                    <div class="col-md-6">
                      <%= f.text_area :content, class: "form-control post_content col-md-6", label: false, placeholder: "Contenido", rows: 1 %><br>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group date">
                        <%= f.text_field :alta, class: "form-control post_content datepicker", :data => {:provide => 'datepicker'}, label: false, placeholder: "Alta", rows: 1 %><span class="input-group-addon" id="basic-addon1" >
                        <span class="fa fa-calendar" aria-hidden="true"></span>
                      </span></div> <br>
                    </div>
                    <div class="col-md-6">
                      <%= f.text_area :pedido, class: "form-control post_content", label: false, placeholder: "Pedido", rows: 1 %><br>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <%= f.number_field :horasof, class: "form-control post_content", label: false, placeholder: "Horas ordinarias facturadas", rows: 1, step: 0.5 %><br>
                    </div>
                    <div class="col-md-6">
                      <%= f.number_field :horasnf, class: "form-control post_content", label: false, placeholder: "Horas no facturadas", rows: 1, step: 0.5 %><br>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <%= f.number_field :extra, class: "form-control post_content", label: false, placeholder: "Extra", rows: 1, step: 0.5 %><br>
                    </div>
                    <div class="col-md-6">
                      <%= f.number_field :extraf, class: "form-control post_content", label: false, placeholder: "Extra facturadas", rows: 1, step: 0.5 %><br>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <%= f.number_field :nocturnas, class: "form-control post_content", label: false, placeholder: "Nocturnas", rows: 1, step: 0.5 %><br>
                    </div>
                    <div class="col-md-6">
                      <%= f.number_field :vacaciones, class: "form-control post_content", label: false, placeholder: "Vacaciones", rows: 1, step: 0.5 %><br>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <%= f.number_field :bolsahg, class: "form-control post_content", label: false, placeholder: "Bolsa de horas generadas", rows: 1, step: 0.5 %><br>
                    </div>
                    <div class="col-md-6">
                      <%= f.number_field :bolsahu, class: "form-control post_content", label: false, placeholder: "Bolsa de horas utilizadas", rows: 1, step: 0.5 %><br>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" id="myupdatebutton" class="btn btn-default" data-dismiss="modal">Close</button>
                  <%= submit_tag "Update", class: "btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
          <!-- Modal -->

          <!-- Modal - viev posts -->
         
          <div class="modal fade" id="mytable_<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="myModelLabel" aria-hidden="true" data-target="mytable_<%= post.id %>">

            <div class="modal-dialog autowidth">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Entrada</h4>
                </div>
                <div class="modal-body">
                  <table class="table table-bordered table-condensed" id="tabla_view">
                    <thead class="bg-info">
                      <tr>
                        <th>Titulo</th>
                        <th>Contenido</th>
                        <th>Fecha</th>
                        <th>Pedido</th>
                        <th>Horas ordinarias facturadas</th>
                        <th>Horas no facturadas</th>
                        <th>Extra</th>
                        <th>Nocturnas</th>
                        <th>Vacaciones</th>
                        <th>Bolsa de horas generadas</th>
                        <th>Bolsa de horas utilizadas</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th><%= post.title %></th>
                        <th><%= post.content %></th>
                        <th class="wspace"><%= post.alta %></th>
                        <th><%= post.pedido %></th>
                        <th><%= post.horasof %></th>
                        <th><%= post.horasnf %></th>
                        <th><%= post.extra %></th>
                        <th><%= post.nocturnas %></th>
                        <th><%= post.vacaciones %></th>
                        <th><%= post.bolsahg %></th>
                        <th><%= post.bolsahu %></th>
                      </tr>
                    </tbody>
                  </table>

                </div>




              </div>
            </div>

            </div>
           

          <!--End  Modal - viev posts -->


        </li>
      </div>
        <% end %>
      </ul>
      <% end %>
      <% end %>




    <!--  Modal create action -->
    <%= form_for(@post, remote: true) do |f| %>
    <div class="modal fade" id="mynewpost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Post</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <%= f.text_area :title, class: "form-control post_title", label: false, autofocus: "true", placeholder: "Titulo", rows: 1 %><br>
              </div>
              <div class="col-md-6">
                <%= f.text_area :content, class: "form-control post_content col-md-6", label: false, placeholder: "Contenido", rows: 1 %><br>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="input-group">
                  <%= f.date_field :alta, class: "form-control post_content datepicker", :data => {:provide => 'datepicker'}, label: false, placeholder: "Alta", rows: 1 %><span class="input-group-addon" id="basic-addon1" >
                  <span class="fa fa-calendar" aria-hidden="true"></span>
                </span></div> <br>
              </div>
              <div class="col-md-6">
                <%= f.text_area :pedido, class: "form-control post_content", label: false, placeholder: "Pedido", rows: 1 %><br>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%= f.number_field :horasof, class: "form-control post_content", label: false, placeholder: "Horas ordinarias facturadas", rows: 1, step: 0.5 %><br>
              </div>
              <div class="col-md-6">
                <%= f.number_field :horasnf, class: "form-control post_content", label: false, placeholder: "Horas no facturadas", rows: 1, step: 0.5 %><br>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%= f.number_field :extra, class: "form-control post_content", label: false, placeholder: "Extra", rows: 1, step: 0.5 %><br>
              </div>
              <div class="col-md-6">
                <%= f.number_field :extraf, class: "form-control post_content", label: false, placeholder: "Extra facturadas", rows: 1, step: 0.5 %><br>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%= f.number_field :nocturnas, class: "form-control post_content", label: false, placeholder: "Nocturnas", rows: 1, step: 0.5 %><br>
              </div>
              <div class="col-md-6">
                <%= f.number_field :vacaciones, class: "form-control post_content", label: false, placeholder: "Vacaciones", rows: 1, step: 0.5 %><br>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%= f.number_field :bolsahg, class: "form-control post_content", label: false, placeholder: "Bolsa de horas generadas", rows: 1, step: 0.5 %><br>
              </div>
              <div class="col-md-6">
                <%= f.number_field :bolsahu, class: "form-control post_content", label: false, placeholder: "Bolsa de horas utilizadas", rows: 1, step: 0.5 %><br>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewpostclose">Close</button>
            <%= submit_tag "Create", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>


<% if current_user.admin? %>

<% @users.each do |user| %>





 <div class="col-md-6">
        <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Resumen año 2015 de <%= user.name %></h3>
        </div>
        <div class="panel-body">

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading<%= user.id %>">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= user.id %>" aria-expanded="false" collapsible="true" aria-controls="collapse<%= user.id %>">
          Vacaciones de <%= user.name %>
        </a>
      </h4>
    </div>
    <div id="collapse<%= user.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= user.id %>">
      <div class="panel-body">
        <table class="table">
                    <thead>
                      <tr class="active">
                        <td><strong>Vacaciones</strong></td>
                        <td>Total año</td>
                        <td>Disfrutadas</td>
                        <td>Restan</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Enero</td>
                        <td>22</td>
                        <td><%= Post.where(:alta => "2015-01-01".."2015-01-31", :user_id => user).sum(:vacaciones) %></td>
                        <td><strong><%= 22 - Post.where(:alta => "2015-01-01".."2015-01-31", :user_id => user).sum(:vacaciones) %></strong></td>
                      </tr>

                  <tr>
                <td>Febrero</td>
                <td>22</td>
                <td><%= Post.where(:alta => "2015-02-01".."2015-02-28", :user_id => user).sum(:vacaciones) %></td>
                <td><strong><%= 22 - Post.where(:alta => "2015-02-01".."2015-02-28", :user_id => user).sum(:vacaciones) %></strong></td>
              </tr>
              <tr>
                <td>Marzo</td>
                <td>22</td>
                <td><%= Post.where(:alta => "2015-03-01".."2015-03-31", :user_id => user).sum(:vacaciones) %></td>
                <td><strong><%= 22 - Post.where(:alta => "2015-03-01".."2015-03-31", :user_id => user).sum(:vacaciones) %></strong></td>
              </tr>
              <tr>
                <td>Abril</td>
                <td>22</td>
                <td><%= Post.where(:alta => "2015-04-01".."2015-04-30", :user_id => user).sum(:vacaciones) %></td>
                <td><strong><%= 22 - Post.where(:alta => "2015-04-01".."2015-04-30", :user_id => user).sum(:vacaciones) %></strong></td>
              </tr>
              <tr>
                <td>Mayo</td>
                <td>22</td>
                <td><%= Post.where(:alta => "2015-05-01".."2015-05-31", :user_id => user).sum(:vacaciones) %></td>
                <td><strong><%= 22 - Post.where(:alta => "2015-05-01".."2015-05-31", :user_id => user).sum(:vacaciones) %></strong></td>
              </tr>
              <tr>
                <td>Junio</td>
                <td>22</td>
                <td><%= Post.where(:alta => "2015-06-01".."2015-06-30", :user_id => user).sum(:vacaciones) %></td>
                <td><strong><%= 22 - Post.where(:alta => "2015-06-01".."2015-06-30", :user_id => user).sum(:vacaciones) %></strong></td>
              </tr>
              <tr>
                <td>Julio</td>
                <td>22</td>
                <td><%= Post.where(:alta => "2015-07-01".."2015-07-31", :user_id => user).sum(:vacaciones) %></td>
                <td><strong><%= 22 - Post.where(:alta => "2015-07-01".."2015-07-31", :user_id => user).sum(:vacaciones) %></strong></td>
              </tr>
              <tr>
                <td>Agosto</td>
                <td>22</td>
                <td><%= Post.where(:alta => "2015-08-01".."2015-08-31", :user_id => user).sum(:vacaciones) %></td>
                <td><strong><%= 22 - Post.where(:alta => "2015-08-01".."2015-08-31", :user_id => user).sum(:vacaciones) %></strong></td>
              </tr>
              <tr>
                <td>Septiembre</td>
                <td>22</td>
                <td><%= Post.where(:alta => "2015-09-01".."2015-09-30", :user_id => user).sum(:vacaciones) %></td>
                <td><strong><%= 22 - Post.where(:alta => "2015-09-01".."2015-09-30", :user_id => user).sum(:vacaciones) %></strong></td>
              </tr>
              <tr>
                <td>Octubre</td>
                <td>22</td>
                <td><%= Post.where(:alta => "2015-10-01".."2015-10-31", :user_id => user).sum(:vacaciones) %></td>
                <td><strong><%= 22 - Post.where(:alta => "2015-10-01".."2015-10-31", :user_id => user).sum(:vacaciones) %></strong></td>
              </tr>
              <tr>
                <td>Noviembre</td>
                <td>22</td>
                <td><%= Post.where(:alta => "2015-11-01".."2015-11-30", :user_id => user).sum(:vacaciones) %></td>
                <td><strong><%= 22 - Post.where(:alta => "2015-11-01".."2015-11-30", :user_id => user).sum(:vacaciones) %></strong></td>
              </tr>
              <tr>
                <td>Diciembre</td>
                <td>22</td>
                <td><%= Post.where(:alta => "2015-12-01".."2015-12-31", :user_id => user).sum(:vacaciones) %></td>
                <td><strong><%= 22 - Post.where(:alta => "2015-12-01".."2015-12-31", :user_id => user).sum(:vacaciones) %></strong></td>
              </tr>
              <tr class="bg-success">
                <td>Total</td>
                <td>22</td>
                <td><%= Post.where(:alta => "2015-01-01".."2015-12-31", :user_id => user).sum(:vacaciones) %></td>
                <td><strong><%= 22 - Post.where(:alta => "2015-01-01".."2015-12-31", :user_id => user).sum(:vacaciones) %></strong></td>
              </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading<%= user.id %>-1">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= user.id %>-1" aria-expanded="false" aria-controls="collapse<%= user.id %>-1">

            Bolsa Horas de <%= user.name %>

        </a>
      </h4>
    </div>
    <div id="collapse<%= user.id %>-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= user.id %>-1">
      <div class="panel-body">
 
          <table class="table">
          <thead>
              <tr class="active">
                <td><strong>Bolsa Horas</strong></td>
                <td>Acumuladas</td>
                <td>Disfrutadas</td>
                <td>Restan</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Enero</td>
                <td><%= Post.where(:alta => "2015-01-01".."2015-01-31", :user_id => user).sum(:bolsahg) %></td>
                <td><%= Post.where(:alta => "2015-01-01".."2015-01-31", :user_id => user).sum(:bolsahu) %></td>
                <td><strong><%= Post.where(:alta => "2015-01-01".."2015-01-31", :user_id => user).sum(:bolsahg) - Post.where(:alta => "2015-01-01".."2015-01-31", :user_id => user).sum(:bolsahu) %></strong></td>
              </tr>
              <tr>
                <td>Febrero</td>
                <td><%= Post.where(:alta => "2015-02-01".."2015-02-31", :user_id => user).sum(:bolsahg) %></td>
                <td><%= Post.where(:alta => "2015-02-01".."2015-02-31", :user_id => user).sum(:bolsahu) %></td>
                <td><strong><%= Post.where(:alta => "2015-02-01".."2015-02-31", :user_id => user).sum(:bolsahg) - Post.where(:alta => "2015-02-01".."2015-02-31", :user_id => user).sum(:bolsahu) %></strong></td>
              </tr>
              <tr>
                <td>Marzo</td>
                <td><%= Post.where(:alta => "2015-03-01".."2015-03-31", :user_id => user).sum(:bolsahg) %></td>
                <td><%= Post.where(:alta => "2015-03-01".."2015-03-31", :user_id => user).sum(:bolsahu) %></td>
                <td><strong><%= Post.where(:alta => "2015-03-01".."2015-03-31", :user_id => user).sum(:bolsahg) - Post.where(:alta => "2015-03-01".."2015-03-31", :user_id => user).sum(:bolsahu) %></strong></td>
              </tr>
              <tr>
                <td>Abril</td>
                <td><%= Post.where(:alta => "2015-04-01".."2015-04-31", :user_id => user).sum(:bolsahg) %></td>
                <td><%= Post.where(:alta => "2015-04-01".."2015-04-31", :user_id => user).sum(:bolsahu) %></td>
                <td><strong><%= Post.where(:alta => "2015-04-01".."2015-04-31", :user_id => user).sum(:bolsahg) - Post.where(:alta => "2015-04-01".."2015-04-31", :user_id => user).sum(:bolsahu) %></strong></td>
              </tr>
              <tr>
                <td>Marzo</td>
                <td><%= Post.where(:alta => "2015-05-01".."2015-05-31", :user_id => user).sum(:bolsahg) %></td>
                <td><%= Post.where(:alta => "2015-05-01".."2015-05-31", :user_id => user).sum(:bolsahu) %></td>
                <td><strong><%= Post.where(:alta => "2015-05-01".."2015-05-31", :user_id => user).sum(:bolsahg) - Post.where(:alta => "2015-05-01".."2015-05-31", :user_id => user).sum(:bolsahu) %></strong></td>
              </tr>
              <tr>
                <td>Marzo</td>
                <td><%= Post.where(:alta => "2015-06-01".."2015-06-31", :user_id => user).sum(:bolsahg) %></td>
                <td><%= Post.where(:alta => "2015-06-01".."2015-06-31", :user_id => user).sum(:bolsahu) %></td>
                <td><strong><%= Post.where(:alta => "2015-06-01".."2015-06-31", :user_id => user).sum(:bolsahg) - Post.where(:alta => "2015-06-01".."2015-06-31", :user_id => user).sum(:bolsahu) %></strong></td>
              </tr>
              <tr>
                <td>Marzo</td>
                <td><%= Post.where(:alta => "2015-07-01".."2015-07-31", :user_id => user).sum(:bolsahg) %></td>
                <td><%= Post.where(:alta => "2015-07-01".."2015-07-31", :user_id => user).sum(:bolsahu) %></td>
                <td><strong><%= Post.where(:alta => "2015-07-01".."2015-07-31", :user_id => user).sum(:bolsahg) - Post.where(:alta => "2015-07-01".."2015-07-31", :user_id => user).sum(:bolsahu) %></strong></td>
              </tr>
              <tr>
                <td>Marzo</td>
                <td><%= Post.where(:alta => "2015-08-01".."2015-08-31", :user_id => user).sum(:bolsahg) %></td>
                <td><%= Post.where(:alta => "2015-08-01".."2015-08-31", :user_id => user).sum(:bolsahu) %></td>
                <td><strong><%= Post.where(:alta => "2015-08-01".."2015-08-31", :user_id => user).sum(:bolsahg) - Post.where(:alta => "2015-08-01".."2015-08-31", :user_id => user).sum(:bolsahu) %></strong></td>
              </tr>
              <tr>
                <td>Marzo</td>
                <td><%= Post.where(:alta => "2015-09-01".."2015-09-31", :user_id => user).sum(:bolsahg) %></td>
                <td><%= Post.where(:alta => "2015-09-01".."2015-09-31", :user_id => user).sum(:bolsahu) %></td>
                <td><strong><%= Post.where(:alta => "2015-09-01".."2015-09-31", :user_id => user).sum(:bolsahg) - Post.where(:alta => "2015-09-01".."2015-09-31", :user_id => user).sum(:bolsahu) %></strong></td>
              </tr>
              <tr>
                <td>Marzo</td>
                <td><%= Post.where(:alta => "2015-10-01".."2015-10-31", :user_id => user).sum(:bolsahg) %></td>
                <td><%= Post.where(:alta => "2015-10-01".."2015-10-31", :user_id => user).sum(:bolsahu) %></td>
                <td><strong><%= Post.where(:alta => "2015-10-01".."2015-10-31", :user_id => user).sum(:bolsahg) - Post.where(:alta => "2015-10-01".."2015-10-31", :user_id => user).sum(:bolsahu) %></strong></td>
              </tr>
              <tr>
                <td>Marzo</td>
                <td><%= Post.where(:alta => "2015-11-01".."2015-11-31", :user_id => user).sum(:bolsahg) %></td>
                <td><%= Post.where(:alta => "2015-11-01".."2015-11-31", :user_id => user).sum(:bolsahu) %></td>
                <td><strong><%= Post.where(:alta => "2015-11-01".."2015-11-31", :user_id => user).sum(:bolsahg) - Post.where(:alta => "2015-11-01".."2015-11-31", :user_id => user).sum(:bolsahu) %></strong></td>
              </tr>
              <tr>
                <td>Marzo</td>
                <td><%= Post.where(:alta => "2015-12-01".."2015-12-31", :user_id => user).sum(:bolsahg) %></td>
                <td><%= Post.where(:alta => "2015-12-01".."2015-12-31", :user_id => user).sum(:bolsahu) %></td>
                <td><strong><%= Post.where(:alta => "2015-12-01".."2015-12-31", :user_id => user).sum(:bolsahg) - Post.where(:alta => "2015-12-01".."2015-12-31", :user_id => user).sum(:bolsahu) %></strong></td>
              </tr>
              <tr class="bg-success">
                <td>Total</td>
                <td><%= Post.where(:alta => "2015-01-01".."2015-12-31", :user_id => user).sum(:bolsahg) %></td>
                <td><%= Post.where(:alta => "2015-01-01".."2015-12-31", :user_id => user).sum(:bolsahu) %></td>
                <td><strong><%= Post.where(:alta => "2015-01-01".."2015-12-31", :user_id => user).sum(:bolsahg) - Post.where(:alta => "2015-01-01".."2015-12-31", :user_id => user).sum(:bolsahu) %></strong></td>
              </tr>
              <tr> 
              </tr>
            </tbody>
          </table>


      </div>
    </div>
  </div>

</div>

</div>

</div>

</div>
















      
      <% end %>

      <% else %>

      <% end %>

  </div>
</div>

    



