<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<%= render 'header' %>

<div class="container-fluid">

        
          <h4 id="month">
        <div class="btn-group block pull-right" role="group" aria-label="...">
          <button type="button" class="btn btn-default"><%= link_to "", {date: @date.prev_month}, class: "fa fa-chevron-left btn" %></button>
          <button type="button" class="btn btn-default disabled"><h4 id="mes"><%= l(@date, format: "%B %Y") %></h4></button>
          <button type="button" class="btn btn-default"><%= link_to "", {date: @date.next_month}, class: "fa fa-chevron-right btn" %></button>
        </div>
      </h4>
<br>


<div>



  <!-- Nav tabs -->
  <ul id="tabs" class="nav nav-tabs" role="tablist">
    <% @users.each do |user| %>
    <% unless user.admin == true %>
    <li role="presentation" class=""><a href="#<%= user.id %>" aria-controls="<%= user.id %>" role="tab" data-toggle="tab"><%= user.name %></a></li>

    <% end %>
    <% end %>
  </ul>

  <!-- Tab panes -->

  

  <div class="tab-content">
    <% @users.each do |user| %>
    <% unless user.admin == true %>


    <div role="tabpanel" class="fade in tab-pane" id="<%= user.id %>">

      <div class="row" id="<%= user.id %>">
  <div class="col-md-12">
	
	<script type="text/javascript" chartset="utf-8" >
	$(function(){
		new Highcharts.Chart({
			chart: {
				type: 'spline',
				renderTo: "post_chart<%= user.id %>"
			},
			title: {
				text: "Resumen horas de <%= l(@date, format: "%B %Y") %>"
			},
			xAxis: {
				type: "datetime"
			},
			yAxis: {
				title:{
					text: "Horas"
				},
				min: 0
			},
			tooltip: {
			           formatter: function() {
				return Highcharts.dateFormat("%d-%b-%Y", this.x) + '- '  + Highcharts.numberFormat(this.y, 2) + " Horas";
			}
			        },
			
			series: [{
				name: "Horas ordinarias facturadas",
				pointInterval: <%= 1.day * 1000 %>,
				pointStart: <%= @date.beginning_of_month.strftime('%Q') %>,
				pointEnd: <%= @date.end_of_month.strftime('%Q') %>,
				data: <%= (@date.beginning_of_month..@date.end_of_month).map { |date| user.posts.horasof_on(date).to_f }.inspect %>
			},
			{
				name: "Horas no facturadas",
				pointInterval: <%= 1.day * 1000 %>,
				pointStart: <%= @date.beginning_of_month.strftime('%Q') %>,
				pointEnd: <%= @date.end_of_month.strftime('%Q') %>,
				data: <%= (@date.beginning_of_month..@date.end_of_month).map { |date| user.posts.horasnf_on(date).to_f }.inspect %>
			},
			{
				name: "Nocturnas",
				pointInterval: <%= 1.day * 1000 %>,
				pointStart: <%= @date.beginning_of_month.strftime('%Q') %>,
				pointStart: <%= @date.beginning_of_month.strftime('%Q') %>,
				data: <%= (@date.beginning_of_month..@date.end_of_month).map { |date| user.posts.nocturnas_on(date).to_f }.inspect %>
			}]
			
		});
	});	
	</script>
	
	<div class="row">
	<div id="post_chart<%= user.id %>"></div>
	</div>
<br>
</div>
</div>


      <div class="panel panel-info">
      <div class="panel-heading"><h3 class="panel-title text-center">Resumen mensual de <%= l(@date, format: "%B %Y") %> de <%= user.name %></h3></div>

      <table class="table table-bordered font12 text-center">
        <thead>
          <tr class="active">
            <td><strong>Fecha</strong></td>
            <td><strong>Proyecto</strong></td>
            <td><strong>Recurso</strong></td>
            <td><strong>Comentario</strong></td>
            <td><strong>Pedido</strong></td>
            <td><strong>Horas ordinarias facturadas</strong></td>
            <td><strong>Horas no facturadas</strong></td>
            <td><strong>Extra</strong></td>
            <td><strong>Nocturnas</strong></td>
            <td><strong>Vacaciones</strong></td>
            <td><strong>Viaje</strong></td>
            <td><strong>Espera</strong></td>
            <td><strong>Bolsa de horas generadas</strong></td>
            <td><strong>Bolsa de horas utilizadas</strong></td>
          </tr>
        </thead>
        <tbody>

          <tr>
            <% Post.where(:alta => @date.beginning_of_month..@date.end_of_month, :user_id => user).order(alta: :asc).each do |post| %>
                <td class="wspace"><h6><%= post.alta %></h6></td>
                <td class="wspace"><h6><%= post.proyecto %></h6></td>
                <td class="wspace"><h6><%= post.title %></h6></td>
                <td><h6><%= post.content %></h6></td>
                <td><h6><%= post.pedido %></h6></td>
                <td><h6><%= post.horasof %></h6></td>
                <td><h6><%= post.horasnf %></h6></td>
                <td><h6><%= post.extra %></h6></td>
                <td><h6><%= post.nocturnas %></h6></td>
                <td><h6><%= post.vacaciones %></h6></td>
                <td><h6><%= post.viaje %></h6></td>
                <td><h6><%= post.espera %></h6></td>
                <td><h6><%= post.bolsahg %></h6></td>
                <td><h6><%= post.bolsahu %></h6></td>
                
              </tr>
              <% end %>
               <tr class="active">
                <td colspan = "5" class="text-right"><strong>Total <%= l(@date, format: "%B %Y") %> -
                  <%= number_with_precision(( (Post.where(:alta => @date.beginning_of_month..@date.end_of_month, :user_id => user).sum(:horasof) + Post.where(:alta => @date.beginning_of_month..@date.end_of_month, :user_id => user).sum(:extra) + Post.where(:alta => @date.beginning_of_month..@date.end_of_month, :user_id => user).sum(:nocturnas) ) / 160 ) * 100, :precision => 1) %> % </strong></td>
                <td><strong><%= Post.where(:alta => @date.beginning_of_month..@date.end_of_month, :user_id => user).sum(:horasof) %></strong></td>
                <td><strong><%= Post.where(:alta => @date.beginning_of_month..@date.end_of_month, :user_id => user).sum(:horasnf) %></strong></td>
                <td><strong><%= Post.where(:alta => @date.beginning_of_month..@date.end_of_month, :user_id => user).sum(:extra) %></strong></td>
                <td><strong><%= Post.where(:alta => @date.beginning_of_month..@date.end_of_month, :user_id => user).sum(:nocturnas) %></strong></td>
                <td><strong><%= Post.where(:alta => @date.beginning_of_month..@date.end_of_month, :user_id => user).sum(:vacaciones) %></strong></td>
                <td><strong><%= Post.where(:alta => @date.beginning_of_month..@date.end_of_month, :user_id => user).sum(:viaje) %></strong></td>
                <td><strong><%= Post.where(:alta => @date.beginning_of_month..@date.end_of_month, :user_id => user).sum(:espera) %></strong></td>
                <td><strong><%= Post.where(:alta => @date.beginning_of_month..@date.end_of_month, :user_id => user).sum(:bolsahg) %></strong></td>
                <td><strong><%= Post.where(:alta => @date.beginning_of_month..@date.end_of_month, :user_id => user).sum(:bolsahu) %></strong></td>
               </tr>

        </tbody>
      </table>
      </div>



      <div class="panel panel panel-danger">
      <div class="panel-heading"><h3 class="panel-title text-center">Resumen anual de <%= l(@date, format: "%Y") %> de <%= user.name %></h3></div>

      <table class="table table-bordered font12 text-center">
        <thead>
          <tr class="active">
            <td></td>
            <td><strong>Horas ordinarias facturadas</strong></td>
            <td><strong>Horas no facturadas</strong></td>
            <td><strong>Extra</strong></td>
            <td><strong>Nocturnas</strong></td>
            <td><strong>Vacaciones</strong></td>
            <td><strong>Viaje</strong></td>
            <td><strong>Espera</strong></td>
            <td><strong>Bolsa de horas generadas</strong></td>
            <td><strong>Bolsa de horas utilizadas</strong></td>
          </tr>
        </thead>
        <tbody>



               <tr>
                <td><strong>Total anual</strong></td>
                <td><strong><%= Post.where(:alta => @date.beginning_of_year..@date.end_of_year, :user_id => user).sum(:horasof) %></strong></td>
                <td><strong><%= Post.where(:alta => @date.beginning_of_year..@date.end_of_year, :user_id => user).sum(:horasnf) %></strong></td>
                <td><strong><%= Post.where(:alta => @date.beginning_of_year..@date.end_of_year, :user_id => user).sum(:extra) %></strong></td>
                <td><strong><%= Post.where(:alta => @date.beginning_of_year..@date.end_of_year, :user_id => user).sum(:nocturnas) %></strong></td>
                <td><strong><%= Post.where(:alta => @date.beginning_of_year..@date.end_of_year, :user_id => user).sum(:vacaciones) %></strong></td>
                <td><strong><%= Post.where(:alta => @date.beginning_of_year..@date.end_of_year, :user_id => user).sum(:viaje) %></strong></td>
                <td><strong><%= Post.where(:alta => @date.beginning_of_year..@date.end_of_year, :user_id => user).sum(:espera) %></strong></td>
                <td><strong><%= Post.where(:alta => @date.beginning_of_year..@date.end_of_year, :user_id => user).sum(:bolsahg) %></strong></td>
                <td><strong><%= Post.where(:alta => @date.beginning_of_year..@date.end_of_year, :user_id => user).sum(:bolsahu) %></strong></td>
               </tr>


        </tbody>
      </table>
      </div>
      </div>



      
      <% end %>
      <% end %>

</div>

     

  </div>

</div>








    

<%= render 'footer' %>
</div>